/*! Volplane DragResize Component v1.0.0 | MIT License | https://volplane.julian-s.ch/ */

.vdr {
  position: relative;
  box-sizing: border-box;
}
.vdr.active::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  outline: 1px dashed #f8f8ec;
}
.vdr-stick {
  box-sizing: border-box;
  position: absolute;
  font-size: 1px;
  background: #f8f8ec;
  border: 1px solid #313133;
  box-shadow: 0 0 2px #313133;
}
.inactive .vdr-stick {
  display: none;
}
.vdr-stick-tl, .vdr-stick-br {
  cursor: nwse-resize;
}
.vdr-stick-tm, .vdr-stick-bm {
  left: 50%;
  cursor: ns-resize;
}
.vdr-stick-tr, .vdr-stick-bl {
  cursor: nesw-resize;
}
.vdr-stick-ml, .vdr-stick-mr {
  top: 50%;
  cursor: ew-resize;
}
.vdr-stick.not-resizable{
  display: none;
}
