/*! Volplane DragResize Component v1.1.0 | MIT License | https://volplane.julian-s.ch/ */

.vdr {
  position: absolute;
  box-sizing: border-box;
  user-select: none;
}

.vdr.active::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  outline: 1px dashed #f8f8ec;
}

.vdr-stick {
  box-sizing: border-box;
  position: absolute;
  font-size: 1px;
  background: #f8f8ec;
  border: 1px solid #313133;
  box-shadow: 0 0 2px #313133;
  user-select: none;
  z-index: 1;
}

.inactive .vdr-stick {
  display: none;
}

.vdr-stick-tm, .vdr-stick-bm {
  left: 50%;
}

.vdr-stick-ml, .vdr-stick-mr {
  top: 50%;
}

.vdr-stick.not-resizable {
  display: none;
}

.vdr-cursor-grabbing {
  cursor: grabbing;
}

body:not(.vdr-cursor-grabbing) .vdr-cursor-grab {
  cursor: grab;
}

body:not(.vdr-cursor-grabbing) .vdr-cursor-tl,
body:not(.vdr-cursor-grabbing) .vdr-cursor-br {
  cursor: nwse-resize;
}

body:not(.vdr-cursor-grabbing) .vdr-cursor-tm,
body:not(.vdr-cursor-grabbing) .vdr-cursor-bm {
  cursor: ns-resize;
}

body:not(.vdr-cursor-grabbing) .vdr-cursor-tr,
body:not(.vdr-cursor-grabbing) .vdr-cursor-bl {
  cursor: nesw-resize;
}

body:not(.vdr-cursor-grabbing) .vdr-cursor-ml,
body:not(.vdr-cursor-grabbing) .vdr-cursor-mr {
  cursor: ew-resize;
}

.vdr-blend {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
}

body:not(.vdr-cursor-grabbing) .vdr-blend:hover {
  background-color: #f8f8ec10;
}
